/.run
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.libraries.microba-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.performanceTesting.vcs-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage.agent-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.experiment-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUsersOnboarding-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.lvcs.impl-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.dvcs.impl-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-IC-242.24807.4.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-IC-242.24807.4.xml
/.intellijPlatform/self-update.lock
